.navbar-header {
    background-color: #337ab7;
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {float:none;}

.navbar-default .navbar-brand{
  color:#fff;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
  color:#fff;
}
